@import '../../assets/variables';

.film-list {
    background: white;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: apparitionBlock 0.5s both ease-in-out;

    
    h2 {
        font-size: 1.7em;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        line-height: 50px;
        background: $primary-color;
        color: white;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;

        li {
            width: 100%;
            animation: apparitionFilms 0.7s both ease-in-out;
            
        }
        
        
        
        img {
            width: 100%;
            opacity: 0.8;
            margin: 10px;
            max-width: 250px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

            &:hover {
                opacity: 1;
                animation: survolFilms 300ms both ease-in-out;
                // transform: scale(1.1);
                // transition: all 200ms ease-in-out;
            }
        }
    }
    .not-film {
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
        padding: 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    .film-list {
        ul {
            justify-content: space-around;
            a {
                width: 40%;
            }
            img {
                margin: 0 0 20px 0;
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .film-list {
        h2 {
            font-size: 1.1em;
        }
    }
}
