.communes {
    width: 100%;
    text-align: center;
    animation: apparitionBlock 0.5s both ease-in-out;


    select {
        font-size: 1.2em;
        border-radius: 20px;
        padding: 10px;
        // margin-bottom: 50px;   
    }        
}

@media screen and (max-width: 600px) {
    .communes {
        select {
            width: 100%;
        }
    }
}

// @keyframes apparitionBlock {
//     0% {
//         opacity: 0;
//         // transform: translateY(-60px)
//     }
//     100% {
//         opacity: 1;
//         // transform: translateY(0);
//     }
// }