@import '../../assets/variables';

.accueil {
    max-width: 1500px;
    min-height: 1000px;
    margin: auto;
    padding: 20px;

    h2 {
        font-size: 1.7em;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        margin-bottom: 20px;
        line-height: 50px;
        background: $primary-color;
        color: white;
    }
    &-nav {
        margin-bottom: 30px;
        animation: apparitionBlock 500ms ease-in-out;
        
        ul {
            display: flex;
            justify-content: center;
            max-width: 1200px;
            margin: auto;            
            
            li {
                margin: 0 1px;
                padding: 15px;
                color: white;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                background: $primary-color;

                &:hover {
                    background: $btn-color-hover;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                }
                
            }
            .active li {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                background: $btn-color-hover;
                transform: scale(1.05);
            }
        }
    }
    
    
    .films-hebdo {
        background: white;
        border-radius: 20px;
        

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                max-width: 22%;
                margin: 10px;
            }

            

            img {
                width: 100%;
            }
        }
    }

    
}

@media screen and (max-width:700px) {
    .accueil {
        padding: 0 10px;
    }
    .accueil-nav {
        ul {
            flex-direction: column;
            // flex-wrap: wrap;

            li {
                width: 100%;
                text-align: center;
                // border-radius: 15px!important;
                margin-bottom: 10px;
            }
            .active li {
                transform: scale(1.02);
            }
        }
    }
}

        


@media screen and (max-width: 460px) {
    .accueil {
        &-nav {
            ul {
            font-size: 0.8em;
            }
        }
        .films-hebdo {
            h2 {
                font-size: 1em;
            }
            ul {
                li {
                    max-width: 80%;
                }
            }
        }        
    }
}