.infos-seance-speciale {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    animation: apparitionBlock 0.5s ease-in-out;

    h6 {
        font-size: 1.3em;
        margin: 10px 0;
    }

    .icon {
        font-size: 5em;
        margin-bottom: 20px;
    }

    .langue {
        margin-bottom: 10px;
        font-size: 1.1em;
        font-style: italic;
    }

    .special-lieu {
        width: 40%;
        padding: 15px;
        text-align: center;
        color: white;
        background: #5b5b5b;
    }

    .special-date {
        width: 40%;
        padding: 15px;
        text-align: center;
        background: white;
    }
}

@media screen and (max-width: 1000px) {
    .infos-seance-speciale {
        width: 90%;
        margin: 0 auto;
        .special-lieu, .special-date {
            width: 50%;
        }
    }
}
@media screen and (max-width: 900px) {
    .infos-seance-speciale {
        flex-direction: column;
        margin-top: 30px;
        .special-lieu, .special-date {
            width: 90%;
            margin: auto;
        }
    }
}
@media screen and (max-width: 460px) {
    .infos-seance-speciale {
        margin-top: 10px;
        .special-lieu, .special-date {
            width: 100%;
            margin: auto;
            font-size: 0.7em;
        }
    }
}