.mulsanne {
    padding: 20px;

    &-tarifs {
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:700px) {
    .mulsanne {
        .accueil-nav {
            ul {
                flex-wrap: wrap;

                li {
                    width: 90%;
                    text-align: center;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }        
    }
}