.circuit-tarifs {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.circuit-block {
    min-height: 100vh;
    padding: 20px;  


    .active li {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        background: #5b5b5b;
        transform: scale(1.05);                
    }
}

@media screen and (max-width:700px) {
    .circuit-block {
        padding: 0 10px;
    }
}



