.newfilm-form {
    display: inline-block;
    text-align: center;
    margin: 30px auto;
    padding: 20px 30px;
    font-family: Roboto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    animation: apparitionBlock 500ms ease-in-out;

    .code-tmdb {
        display: flex;
        flex-direction: column;
        label {
            text-align: left;
        }
    }

    input, textarea {
        padding: 5px;
        font-size: 1.1em;
        border-radius: 10px;
    }

    label {        
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 500;
    }

    h2 {
        font-size: 2em;
    }

    hr {
        margin: 30px auto 30px auto;
        width: 80%;
    }

    .special {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .special-radio {
            display: flex;
            align-items: center;
            
        }
        .special-yes, .special-no {
            display: flex;
            align-items: center;
        }
        p {
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: 500;
        }
        label {
            margin-left: 15px;
            text-transform: none;
        }
        input {
            margin-left: 5px;
        }        
    }

    .date-heure {
        display: flex;
        margin: 20px 0;
        input {
            margin-right: 15px;
        }
    }

    .precision, .lieu-precis {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        label {
            margin-bottom: 5px;
            text-align: left;
        }
    }

    .lieu {
        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div {
                display: flex;
                margin-bottom: 10px;
            }
        }
        p {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: 500;
        }

        label {
            margin-left: 15px;
            text-transform: none;
        }
        input {
            margin-left: 5px;
            // margin-bottom: 20px;
        }
    }

    .langue {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        input {
            margin: 0 25px 0 10px;        
        }
    }


    button {
        font-size: 1.1em;
        background: linear-gradient(130deg, rgba(104,24,63,1) 0%, rgba(130,10,10,1) 100%);
        color: white;
        border: none;
        border-radius: 10px;
        margin: 30px auto;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background: #5b5b5b;
            color: white;
        }
    }

    .deconnexion {
        margin-top: 0;
        background: red;
        color: white;
    }

    .infos {
        .details-film {
            form {
                display: flex;
                flex-direction: column;
                max-width: 600px;
                margin: auto;

                label {
                    margin-top: 20px;
                    text-align: left;
                }
            } 
            
            .trailer {
                display: flex;
                flex-direction: column;

                &-player {
                    max-width: 600px;
                    margin-top: 10px;
                }                
            }
        }

        .notification {
            font-size: 1.2em;
            font-weight: 600;
            margin-top: 30px;
        }

        .success {
            color: green;
        }
        .failure {
            color: red;
        }
    }
}

@media screen and (max-width: 460px) {
    .newfilm-form {
        width: 90%;
        font-size: 0.8em;

        .special {
            flex-direction: column;
            align-items: center;

            &-radio {
                margin-top: 5px;
            }
        }

        .date-heure {
            flex-direction: column;
            .date {
                margin-bottom: 10px;
            }
        }
    }
}

