.newfilm-form {
    display: inline-block;
    text-align: center;

    border: 2px black solid;
    padding: 20px 30px;
    margin-bottom: 30px;
    animation: apparitionBlock 500ms ease-in-out;

    h2 {
        font-size: 2em;
        // margin-bottom: 50px;
    }

    hr {
        margin: 30px auto 30px auto;
        width: 80%;
    }

    .special {
        margin-top: 20px;
        // margin: 20px auto;
        display: flex;
        justify-content: center;

        

        label {
            margin-left: 15px;
        }

        input {
            margin-left: 5px;
        }        
    }

    .date {
        margin: 20px 0;
        input {
            margin-right: 15px;
        }
    }

    .precision, .lieu-precis {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        label {
            margin-bottom: 5px;
        }
    }

    .lieu {
        p {
            margin-bottom: 10px;
        }

        label {
            margin-left: 15px;
        }
        input {
            margin-left: 5px;
            margin-bottom: 20px;
        }
    }

    .langue input {
        margin: 0 25px 0 10px;        
    }


    button {
        width: 50%; 
        margin-top: 30px;
        padding: 10px;
        border-radius: 10px;
        background: #DADADA;
        color: black;
        font-size: 1.1em;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background: #5b5b5b;
            color: white;
        }
    }

    .deconnexion {
        margin-top: 0;
        background: red;
        color: white;
    }

    .infos {
        .details-film {
            form {
                display: flex;
                flex-direction: column;
                max-width: 600px;
                margin: auto;

                // input, textarea {
                //     margin-bottom: 20px;
                // }

                label {
                    margin-top: 20px;
                }
            } 
            
            .trailer {
                display: flex;
                flex-direction: column;

                &-player {
                    max-width: 600px;
                    margin-top: 10px;
                }
                
                // iframe {                    
                //     max-width: 600px;
                //     height: 325px;
                // }
            }
        }

        .notification {
            font-size: 1.2em;
            font-weight: 600;
            margin-top: 30px;
        }

        .success {
            color: green;
        }
        .failure {
            color: red;
        }
    }
}

