.communeBlock {
    min-height: 600px;
}

.commune-form {
    border: 2px black solid;
    max-width: 500px;
    margin: 0 auto 50px auto;
    padding: 15px;
    // animation: apparitionBlock 0.5s both ease-in-out 0.2s;

    h4 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }


    form {
        display: flex;
        flex-direction: column;

        input {
            margin-top: 3px;
            margin-bottom: 15px;
            padding: 5px;
        }
        
        button {
            width: 30%; 
            margin: 0 auto 20px auto;
            padding: 8px;
            border-radius: 10px;
            background: #DADADA;
            color: black;
            font-size: 1em;
            font-weight: 600;
            cursor: pointer;
    
            &:hover {
                background: #5b5b5b;
                color: white;
            }
        }
    }

    .message-succes, .message-echec {
        text-align: center;
        font-weight: 600;
    }
}

.commune {
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 30px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: apparitionBlock 0.5s ease-in-out;    
    
    h3 {
        font-size: 2.4em;
        text-align: center;
        padding: 20px 0;
        color: white;
        background: #68183f;
    }

    &-menu {
        animation: apparitionBlock 0.5s ease-in-out;
        ul {
            display: flex;
            border-top: 2px white solid;
            margin-bottom: 30px;
             li {
                width: 50%;
                text-align: center;
                padding: 20px;
                background: #68183f;
                // background: #5b5b5b;
                color: white;
                font-size: 1.5em;
                font-weight: 500;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                &:hover {
                    background: #5b5b5b;
                    box-shadow: none;
                }
                &:first-child {
                    border-right: 1px white solid;
                }
            }
             .active {
                background: #5b5b5b;
                color: white;
                box-shadow: none;
             }
        }
    }

    &-salle {
        // min-height: 80vh;
        // padding-bottom: 50px;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        animation: apparitionBlock 0.5s ease-in-out;

        h4 {
            // background: #68183f;
            // color: white;
            font-size: 2.2em;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.6em;
            font-weight: 500;
            text-align: center;
            margin-bottom: 5px;
        }

        button {
            margin: auto;
            text-align: center;
        }
    }

    &-btn {
        display: flex;
        flex-direction: column;
    }

    .delete-btn, .modify-btn {
        display: flex;
        align-items: center;
        width: 300px; 
        margin: 10px auto 0 auto;
        padding: 8px;
        color: white;
        border-radius: 10px;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;        
        &:hover {
            background: #5b5b5b;
            transform: scale(1.1);
            transition: transform 200ms ease-in-out;
        }
        p {
            font-size: 1.1em;
            margin: 0 auto 0 auto;
            text-align: center;
        }
    }

    .delete-btn {
        background: #f00;
    }

    .modify-btn {
        background: #5DADE2;
    }    

    .ajout-photo {
        margin: 30px auto;
        text-align: center;
        border: 2px black solid;
        padding: 20px;

        h4 {
            font-size: 1.8em;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        input {
            width: 300px;
            padding: 5px;
            margin-bottom: 8px;
        }

        button {
            margin-top: 10px;
            padding: 5px 10px;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                background: #5b5b5b;
                color: white;
            }
        }
        .succes, .echec {
            font-weight: 500;
            margin-top: 10px;
        }
        .succes {
            color: green;
        }
        .echec {
            color: red;
        }
    }
    
    &-seances {
        min-height: 80vh;
        margin: 0 auto 0 auto;
        border-top: 2px white solid;
        animation: apparitionBlock 0.5s ease-in-out;
        
        .film-list {
            box-shadow: none;
        }
        
        h4 {
            background: #68183f;
            color: white;
            font-size: 1.7em;
            text-align: center;
            padding: 10px 0;
        }

        &__films {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px;

            img {
                margin: 10px;
                max-width: 250px;
            }
        }
    }
}

.delete-confirmation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.4);
    
    &-pop-up {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        // height: 200px;
        background: #fff;
        margin: auto;
        padding: 25px;

        p {
            font-size: 1.2em;
        }
    }

    &-btn {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        button {
            font-size: 1.2em;
            padding: 7px 12px;
            color: white;
            border: none;
            cursor: pointer;
            &:nth-child(1) {
                background: red;
            }
            &:nth-child(2) {
                background: green;
            }
            &:hover {
                background: #5b5b5b;
                transform: scale(1.1);
                transition: transform 200ms ease-in-out;
            }
        }
    }
}
               
@media screen and (max-width: 700px) {
    .commune {
        h3 {
            font-size: 2em;
        }
        li {
            font-size: 1.4em!important;
        }
    }
}

@media screen and (max-width: 600px) {
    .commune-salle {
        h4 {
            font-size: 1.8em;
        }
        p {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 460px) {
    .commune {
        h3 {
            font-size: 1.6em;
        }
        ul {
            li {
                font-size: 1em!important;
                padding: 10px;
            }
        }
        &-salle {
            font-size: 0.8em;
        }
    }
}