@mixin button-mixin {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    transition: transform 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        background: linear-gradient(162deg, rgba(91,91,91,1) 25%, rgba(138,138,138,1) 100%);
        color: white;
    }    
}