$primary-color: linear-gradient(163deg, rgba(104,24,63,1) 25%, rgba(144,55,99,1) 100%);
$btn-color-red: linear-gradient(142deg, rgba(99,29,29,1) 0%, rgba(255,0,0,1) 100%);
$btn-color-blue: linear-gradient(309deg, rgba(122,117,226,1) 25%, rgba(53,47,172,1) 100%);
$btn-color-grey: linear-gradient(163deg, rgba(128,128,128,1) 25%, rgba(139,139,139,1) 100%);
$btn-color-hover: linear-gradient(162deg, rgba(91,91,91,1) 25%, rgba(138,138,138,1) 100%);