.film-details {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    min-height: 100vh;
}

.modify-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 30px;
    font-family: Roboto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    h3 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto 30px auto;

        label {
            margin: 10px 0 3px 0;
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: 500;
        }

        input, textarea {
            font-family: "Roboto";
            font-size: 1em;
            padding: 5px;
            border-radius: 10px;
        }
        
        img{
            width: 50%;
            margin: 3px auto;
        }

        .trailer-player {
            max-width: 536px;
            margin-top: 10px;
        }

    }
    &-btn {
        width: 200px;
        text-align: center;
        margin: auto;

        
        button {
            width: 40px;
            height: 40px;
            margin: 10px auto 0 auto;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            transition: transform 100ms ease-in-out;
            
            &:first-of-type {
                margin: 20px 5px 0 0;
                background: green;
            }
            &:nth-of-type(2) {
                margin-right: 5px;
                background: red;
            }
            &:hover {
                background: #5b5b5b;
                transform: scale(1.1);
            }
        }
    }

    .message-notification {
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        color: red;
        margin-top: 20px;
    }
}

.details {
    display: flex;
    position: relative;
    padding-bottom: 10px;
    animation: apparitionBlock 0.5s both ease-in-out;
    
    img {
        width: 300px;
        margin-right: 60px;
        object-fit: contain;
    }
    
    h2 {
        font-size: 2.2em;
        margin-bottom: 20px;
    }

    .infos {
        font-weight: 400;
        font-size: 1.2em;
        &-technique {
            display: flex;
            margin-bottom: 7px;

            .date::after, .genre::after {
                content: "";
                width: 4px;
                height: 4px;
                background: black;
                color: black;
                display: inline-block;
                margin: auto 7px auto 7px;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }

        .realisateur, .casting {
            margin-bottom: 7px;
        }

        span {
            color: purple;
        }

        .synopsis {
            margin-top: 20px;
            h3 {
                margin-bottom: 7px;
            }
        }
        .avertissement {
            font-size: 1.1em;
            font-weight: 600;
            color: red;
            margin-top: 20px;
        }
    }
    
    .details-btn {
        position: absolute;
        top: 20px;
        right: 20px;

        
        button {
            &:first-of-type {
                background: #5DADE2 ;
                margin-right: 10px;
            }

            &:nth-of-type(2){
                font-weight: 600;
                background: red;
                cursor: pointer;
            }
            width: 40px;
            height: 40px;
            font-size: 1.1em;
            font-weight: 600;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background: #5b5b5b;
                color: white;
                transform: scale(1.1);
                transition: transform 200ms ease-in-out;
            }
        }
    }

    .trailer-btn {
        display: inline-flex;
        align-items: center;
        border-radius: 15px;
        padding: 10px 15px;
        margin-top: 25px;
        background: grey;
        color: white;
        cursor: pointer;
        .icone {
            margin-right: 10px;
            font-size: 1.6em;
        }
        h3 {
            font-size: 0.9em;
        }

        &:hover {
            background: #5b5b5b;
            color: white;
        }
    }
}

@media screen and (max-width: 800px) {
    .details {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
            margin: 0 auto 20px auto;
        }
        .infos-technique {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .details-btn {
        display: flex;
        flex-direction: column;
        top: 10px!important;
        right: 0!important;
        button {
            margin-bottom: 10px;
        }
        .infos-technique {
            justify-content: center;
        }
    }

    .modify-form {
        .trailer-player {
            width: 100%!important;
        }
    }
}


@media screen and (max-width: 460px) {
    .details {
        font-size: 0.8em;
        img {
            width: 200px;
            max-width: 300px;
        }

        &-btn {
            button {
                width: 30px!important;
                height: 30px!important;
                padding: 5px!important;
                margin-right: 0!important;
            }
        }
    }
    .modify-form {
        .trailer-player {
            height: 200px!important;
        }
    }
}