@import '../../assets/mixins';

.week-date-form {
    margin: 20px auto;
    margin-bottom: 20px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-family: Roboto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    animation: apparitionBlock 500ms ease-in-out;

    div {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 0.9em;
        font-family: 'Roboto';
        font-weight: 500;
        text-transform: uppercase;
    }
    input {
        margin: 0 10px;
        font-family: 'Roboto';
        font-weight: 500;
        border-radius: 10px;
        padding: 2px;
    }
    button {
        width: 100px;
        font-size: 1em;
        background: linear-gradient(130deg, rgba(104,24,63,1) 0%, rgba(130,10,10,1) 100%);
        @include button-mixin;
        color: white;
        border-radius: 5px;
        padding: 2px 5px;
    }
}

@media screen and (max-width: 700px) {
    .week-date-form {
        flex-direction: column;
        
        button {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 460px) {
    .week-date-form {
        max-width: 200px;
        
        div {
            flex-direction: column;

            p {
                margin: 5px 0;
            }
        }
    }
}