@import '../../assets/mixins';
@import '../../assets/variables';

.seances {
    width: 100%;
    background: white;
    padding: 20px 20px 50px 20px;
    text-align: center;
    animation: apparitionBlock 0.5s both ease-in-out;

    .seance-form {
        max-width: 600px;
        margin: 30px auto;
        padding: 20px 30px;
        font-family: Roboto;
        background: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px grey;
        h2 {
            margin-bottom: 20px;
        }

        input {
            margin: 0 25px 0 10px;
        }

        .lieu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;

            div {
                display: flex;
                align-items: center;
                margin-top: 5px;
            }
        }

        .communes select {
            margin-bottom: 0;
        }

        .date {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .langue {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            div {
                margin-bottom: 10px;
            }
        }

        button {
            @include button-mixin;
            font-size: 1.1em;
            background: linear-gradient(130deg, rgba(104,24,63,1) 0%, rgba(130,10,10,1) 100%);
            color: white;
            margin: 30px auto;
            padding: 10px 20px;
        }
        .notification {
            margin-top: 20px;
            p {
                font-weight: 500;
            }
        }
    }
    
    .circuit {
        max-width: 700px;
        margin: auto;
        padding: 0;
        animation: apparitionBlock 0.5s both ease-in-out;

        ul {
            box-shadow: 3px 3px 7px grey;
        }
       
        li {
            padding: 10px;
            position: relative;
            background: #f0f0f0;
            
            &:nth-child(2n-1){
                background: $btn-color-grey;
                color: white;

                .icon {
                    color: white;
                }

                p::before {
                    background: white;
                }
            }
        }

        .seance-title {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            .icon {
                width: 10px;
                margin-right: 8px;
                color: black;
            }
            h4 {
                font-size: 1.5em;
            }
            p {
                font-size: 1.2em;
                transform: translateY(2px);
                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: black;
                    color: black;
                    display: inline-block;
                    margin: auto 7px auto 7px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        
        h5 {
            max-width: 600px;
            font-size: 18px;
            padding: 20px;
            margin: auto;
            background: #f0f0f0;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

        .seance-details {
            position: relative;
            left: 20px;
            display: flex;
            .seance-location, .seance-date {
                display: flex;
                align-items: center;
                margin-right: 50px;
                
                .icon {
                    margin-right: 5px;
                }
            }
        }


    }

    .salle-fixe {
        display: inline-block;
        min-width: 600px;
        margin: auto;
        padding: 20px;
        font-size: 1.4em;
        background: #f0f0f0;
        animation: apparitionBlock 0.5s both ease-in-out;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

         li {
            position: relative;
            display: flex;
            align-items: center;
            
            &:nth-child(1n+2){
                margin-top: 15px;                
            }

            .icon {
                margin-right: 10px;
            }            

            p {
                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: black;
                    color: black;
                    display: inline-block;
                    margin: auto 7px auto 7px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
         }
    }

    h5 {
        font-size: 18px;
    }

    .delete-btn {
        @include button-mixin;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        padding: 7px;
        font-size: 0.9em;
        font-weight: 600;
        background: $btn-color-red;
        color: white;
        border-radius: 50%;
        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
    }
}

.film-nav {
    margin-bottom: 30px;
    
    
    ul {
        display: flex;
        justify-content: space-evenly;
        max-width: 600px;
        margin: auto;
        box-shadow: 0px 3px 7px grey;
        
        
        
        li {
            background: $primary-color;
            width: 200px;
            padding: 15px;
            margin-right: 2px;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            

            &:hover {
                background: $btn-color-hover;
                color: white;
                transform: scale(1.05);
            }
            
        }
        .active {
            background: #5b5b5b;
            color: white;
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 800px) {
    .seances {
        background: none;
    }
}

@media screen and (max-width:700px) {
    .seances {
        font-size: 0.8em;
        .salle-fixe {
            min-width: 100%;
        }
        h5 {
            font-size: 1em!important;
        }
    }
}
 @media screen and (max-width: 600px) {
    .film-nav {
        ul {
            flex-direction: column;
            li {                
                width: 100%;
                margin-bottom: 2px;
                // border-bottom: 1px white solid;                
            }
        }
    }
    .seance-details {
        flex-direction: column;
        .seance-location {
            margin-bottom: 10px;
        }
    }
    .seances {
        .seance-form {
            margin-top: 0;
        }
        .salle-fixe {
            padding-right: 5px;
        }
        .delete-btn {
            width: 15px;
            height: 15px;
            padding: 5px;
        } 
    } 
 }

@media screen and (max-width: 460px) {
    .seance-details {
        font-size: 0.8em;
    }
    .seances {
        padding: 20px 5px;
        .salle-fixe {
            font-size: 0.9em;
        }        
        .delete-btn {
            right: -20px;
            width: 12px;
            height: 12px;
            padding: 5px;
        }
    }
    .seance-form {
        padding: 10px!important;
        .communes select {
            width: 100%;
        }
        .date {
            flex-direction: column;
            div {
                margin-bottom: 5px;
            }
        }
    }
}
