.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;    

    .loader {
      content: "";
      width: 70px;
      height: 70px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      border: 8px grey solid;
      border-top: 8px white solid;
      border-radius: 50%;
      animation: loadingSpinner 500ms infinite ease-in;
    }
        
    &-trailer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
     }

     &-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        // background: none;
        font-size: 3em;
        color: white;
        cursor: pointer;
        // border: none;
        &:hover {
         color: #68183f;
        }
     }
}

@keyframes loadingSpinner {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}