@import "../../assets//mixins";
@import "../../assets//variables";

.admin {
    text-align: center;
    min-height: 100vh;

    .command-admin {
        .succes {
            color: green;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .echec {
            color: #e51000;
            font-weight: 500;
            margin-top: 20px;
        }
    }

    .btn-admin {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 20px;
        button {
            @include button-mixin;
            padding: 10px 10px;
            margin-right: 10px;
            font-family: Roboto;
            font-weight: 500;
            color: white;
            background: $btn-color-blue;

            &:first-child {
                background: $btn-color-red;

                &:hover {
                    background: $btn-color-hover;
                }
            }
        }
    }

    .delete-confirmation-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: rgba(0,0,0,0.7);
    }
    .delete-confirmation-content {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%);
        background: white;
        padding: 30px;
        border-radius: 10px;

        .message {
            margin-bottom: 30px;
            font-size: 1.3em;
            font-weight: 500;
        }
        .btn {
            display: flex;
            justify-content: space-around;
        }
        .icone {
            background: $btn-color-red;
            width: 20px;
            height: 20px;
            padding: 10px;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            transition: transform 100ms ease-in-out;
            &:first-child {
                background: $btn-color-green;
            }           
            &:hover {
                transform: scale(1.05);
                box-shadow: 2px 2px 5px grey;
                background: $btn-color-hover;
            }
        }
    }

    .deconnexion {
        @include button-mixin;
        margin: 30px 0;
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 10px;
        background: $btn-color-red;
        color: white;
    }
}

.admin-nav {
    margin: 50px 0 30px 0;
    
    ul {
        display: flex;
        justify-content: center;

        li {
            background: $primary-color;
            font-size: 1.2em;
            padding: 7px 12px;
            margin-right: 2px;
            color: white;
            cursor: pointer;
            &:hover {
                background: $btn-color-hover;
                box-shadow: 2px 2px 5px grey;
            }
        }
        .active {
            box-shadow: 2px 2px 5px grey;
            background: $btn-color-hover;
            transform: scale(1.05);
            transition: transform 200ms ease-in-out;
        }
    }
}

@media screen and (max-width: 800px) {
    .delete-confirmation-content {
        width: 80%;
    }
}
@media screen and (max-width: 720px) {
    .admin-nav {
        margin: 30px 0 0 0;
        padding: 0 10px;

        ul {
            flex-direction: column;

            li {
                margin-bottom: 7px;
            }
        }
    }
    .btn-admin {
        margin-top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .admin-nav {
        ul {
            width: 90%;
            flex-direction: column;
            margin: auto;
        }
    }
    .btn-admin {
        flex-direction: column;
        button {
            margin-top: 10px;
        }
    }
    .delete-confirmation-content {
        width: 95%;
        font-size: 0.8em;
        padding: 20px;
    }
}