@import "../../assets//mixins";
@import "../../assets//variables";

.admin {
    text-align: center;
    min-height: 100vh;

    .deconnexion {
        @include button-mixin;
        margin: 30px 0;
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 10px;
        background: $btn-color-red;
        color: white;
    }
}

.admin-nav {
    margin: 50px 0 30px 0;
    // display: inline-block;
    
    ul {
        display: flex;
        justify-content: center;

        li {
            background: $primary-color;
            font-size: 1.2em;
            padding: 7px 12px;
            margin-right: 2px;
            color: white;
            cursor: pointer;
            &:hover {
                background: $btn-color-hover;
                box-shadow: 2px 2px 5px grey;
            }
        }
        .active {
            box-shadow: 2px 2px 5px grey;
            background: $btn-color-hover;
            transform: scale(1.05);
            transition: transform 200ms ease-in-out;
        }
    }
}

@media screen and (max-width: 600px) {
    .admin-nav {
        margin: 30px 0 0 0;
        padding: 0 10px;

        ul {
            flex-direction: column;

            li {
                margin-bottom: 7px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .admin-nav {
        ul {
            width: 90%;
            flex-direction: column;
            margin: auto;
        }
    }
}