.admin {
    text-align: center;
    min-height: 100vh;

    .deconnexion {
        margin: 30px 0;
        padding: 7px 12px;
        font-size: 1.2em;
        border-radius: 10px;
        background: red;
        color: white;
        cursor: pointer;

        &:hover {
            background: #5b5b5b;
        }
    }
}

.admin-nav {
    margin-bottom: 30px;
    ul {
        display: flex;
        justify-content: center;

        li {
            font-size: 1.2em;
            padding: 7px 12px;
            background: #68183f;
            color: white;
            cursor: pointer;
            &:hover {
                background: #5b5b5b;
            }
        }
        .active {
            background: #5b5b5b;
            transform: scale(1.05);
            transition: transform 200ms ease-in-out;
        }
    }
}

.connection-form {
    max-width: 400px;
    border: 1px black solid;
    margin: 50px auto;
    padding: 10px 20px;
    font-family: Roboto;
    animation: apparitionBlock 500ms ease-in-out;

    h2 {
        font-size: 2em;
        text-align: center;
        padding: 30px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: auto;

        input {
            font-size: 1.4em;
            margin-bottom: 10px;
        }
    }
    button {
        font-size: 1.3em;
        background: red;
        color: white;
        border: none;
        border-radius: 10px;
        margin: 30px;
        padding: 5px;
    }
}